html, body{
    margin:0px;
    padding:0px;
}


.lion-icon {
    position: relative;
    left: 24px;
    top: 12px;
}

.colmar {
    color: darkslategray;
}

.academy {
    color: lightslategray;
}

.logo {
    display: inline-block;
    position: relative;
    left: 24px;
    height: 32px;
}

#nav-bar {
    height: 64px;
    position: fixed;
    width: 98%;
    background-color: white;
    z-index: 9999;
}

a {
    position: relative;
    float: right;
    top: 12px;
}

.navlinks-left {
    margin-right: 16px;
}

.navlinks-right {
    margin-right: 24px;
}

.banner {
    width: 98%;
    height: auto;
    position: relative;
    background-color: lightslategray;
    top: 64px;
    display: flex;
    align-items: center;
}

.banner-img {
    position: relative;
    display: inline-flex;
    width: 60%;
    margin: 32px 24px;
}

.learn-something {
    display: flex;
    height: 100%;
    width: 35%;
    justify-content: center;
    flex-direction: column;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 3rem;
}

.button-start {
    background-color: darkgray;
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
}

.main {
    top: 64px;
    position: relative;
    background-color: white;
    width: 98%;
    display: inline-flex;
}

.main-img {
    position: relative;
    margin: 32px 24px;
    width: 60%;
}

.keep-practicing {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 70%;
    margin-left: 24px;
}

p.main-practice {
    margin: 0;
}

h1.main-practice {
   margin-top: 0;
   margin-bottom: 0px;
   font-size: 4rem;
   margin-bottom: 24px;
}

.quote {
    margin-top: 32px;
    margin-bottom: 32px;
}

.aside {
    display: flex;
    flex-direction: column;
    width: 40%;
    justify-content: center;
    align-items: center;
}